.ant-segmented-item-selected {
  background-color: #f4c2c2 !important;
  color: #ffff !important;
}
.seg {
  width: 500px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1100px) {
  .seg {
    width: 100%;
    margin-bottom: 8px;
  }
}
