.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border: 1px solid #819efc;
  padding: 8px;
}

.StripeElement {
  width: 100%;
}
.StripeElement--invalid {
  width: 100%;
}
