.form_checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.error_msg {
  color: red;
  float: left;
  margin-top: -15px;
  text-align: left;
  width: 100%;
}
