.sec1{
  width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(243, 218, 229, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
 align-items: center;
 border-radius: 0.5rem;
}

.sec2{
  width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(249, 223, 238, 0.4);
}

.sing{
  padding: 0.5rem;
  font-family: math;
  background-color: #db7093;
  border-radius: 0.5rem;
  border-color: rgb(242, 223, 234);
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}


button
 {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
.name{
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.pass{
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  .si{
    color: #db7093;
    font-family: math;
  }

  .log{
    font-family: math;
  }

  .cnx{
    font-family: math;
  }

  .n1{
    font-family: math;
    color: #db7093;
  }
  